<ion-pane>
    <ion-content class="page page-auth">


        <br/>
        <br/>

        <!-- <div class="hero mt-20 mb-40">
            <div class="hero-img">
                <img src="img/logo.png" class="w-200">
            </div>
        </div> -->

        <div ui-view class="p-10"></div>

    </ion-content>

   <!--  <ion-footer-bar  class="bar-clear">
        
        <div class="buttons" >
            <button ion-button color="dark" clear large>Forgot Password</button>
        </div>
    </ion-footer-bar> -->

</ion-pane>