<div style="min-height: 84vh;">
<div class="bar bar-header bar-calm">
  <button class="button icon ion-chevron-left button-clear" ui-sref="auth.login">Back</button>
  <h1 class="title">{{page.title}}</h1>
</div>

<div class="has-header">

<div class="padding mt-10 mb-40" ng-show="help">
      <div class="text-muted" ng-bind-html="help.body"></div>
</div>


<div class="bar bar-footer bar-balanced">
  <div class="title" ui-sref="auth.login">Close this page
     
  </div>
  <br/>
</div>

</div>
</div>
